* {
    padding: 0;
    margin: 0;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    height: 70vh;
    background-image: url("./backgrounds/landing.jpg");
    background-position: center 100%;
    background-size: cover;
}

.nav {
    position: relative;
    top: 50px;
    left: 100px;
}

.nav button {
    background-color: transparent;
    border: none;
}

.nav button i {
    color: white;
    font-size: 45px;
}

.fx {
    display: flex;
}

#logo {
    align-items: center;
    justify-content: center;
}

#logo figcaption {
    text-align: center;
    font-size: 30px;
    color: white;
}

.mmbar {
    height: 30vh;
}

.wd {
    width: 25%;
}

.bkg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    justify-content: center;
    align-items: center;
}

.bkg p {
    font-size: 20px;
    font-weight: 700;
}

.time {
    height: 50%;
    justify-content: center;
    align-items: center;
}

.time p {
    font-size: 20px;
    font-weight: 700;
}

.cl {
    background-color: #f15A29;
    color: white;
}

.breakfast {
    background-image: url("./foodtop/breakfast.jpg");
}

.lunch {
    background-image: url("./foodtop/lunch.jpg");
}

.dinner {
    background-image: url("./foodtop/dinner.jpg");
}